*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: sans-serif;
	background-color: #d5e1ef;
}

.attribution {
	margin-top: 10px;
	font-size: 11px;
	text-align: center;
	color: white;
	font-size: 8px;

	a {
		color: orange;
	}
}

.card {
	padding: 20px;
	width: 250px;
	background: linear-gradient(#374353, #1e2734);
	border-radius: 20px;
}

.front {
	display: block;
}

.top-front {
	&__star-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.2);
	}

	&__star {
		color: orange;
		font-size: 0.8rem;
	}

	&__title {
		margin: 10px 0;
		color: white;
		font-size: 1.2rem;
	}

	&__text {
		color: #979ea8;
		font-size: 0.6rem;
	}
}

.bottom-front {
	&__box-btns {
		margin: 10px 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__btn-item {
		margin: 10px 0;
		width: 30px;
		height: 30px;
		color: #979ea8;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 50%;
		border: none;
		cursor: pointer;
		transition: background 0.3s, color 0.3s;
	}

	&__btn-item:hover {
		color: white;
		background: orange;
	}
	&__btn-item:focus {
		color: orange;
		background: rgba(255, 255, 255, 0.8);
	}

	&__btn {
		padding: 8px;
		width: 100%;
		text-transform: uppercase;
		color: white;
		background-color: orange;
		border: none;
		border-radius: 20px;
		cursor: pointer;
		transition: background 0.3s, color 0.3s;
	}

	&__btn:hover {
		color: orange;
		background-color: white;
	}

	&__error {
		display: none;
		margin-top: 10px;
		text-align: center;
		font-size: .6rem;
		color: red;
	}
}

.opposite {
	display: none;
}

.top-opposite {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__img {
		margin: 10px auto;
		height: 70px;
	}

	&__result {
		margin: 10px 0;
		padding: 5px 10px;
		color: orange;
		background: rgba(255, 255, 255, 0.2);
		font-size: 0.6rem;
		border-radius: 10px;
	}
}

.bottom-opposite {
	&__title {
		text-align: center;
		color: white;
		font-size: 1.2rem;
	}

	&__text {
		margin-top: 10px;
		text-align: center;
		color: #979ea8;
		font-size: 0.6rem;
	}
}

@media (min-width: 768px) {
}
